@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/static/Montserrat-Regular.ttf') format('woff2'),
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body { 
  background-color: rgb(53, 52, 52);
  overflow-x: hidden;
}
:root { 
  --themeColor1: rgb(35, 35, 35);
  --themeColor2: rgb(52, 52, 52);
  --orange: rgb(242,114,28);
  --orangeSelected: rgb(240, 159, 105);
  --green: rgb(13,246,155);
  --white: rgb(255,255,255);
  --pale_white: rgba(255,255,255,.25)
}


.orange-btn {
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid var(--orange);
  font-size: 12px;
  color: white;
  transition: .1s;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
  cursor: pointer;
}
.orange-btn:hover { 
  background-color: var(--orange);
}

.green-btn { 
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid var(--green);
  font-size: 13px;
  color: white;
  transition: .1s;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
  width: 100%;
  cursor: pointer;
}
.green-btn:hover { 
  background-color: var(--green);
}

.change-btn {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--orange);
  color: var(--orange);
  transition: .1s;
}
.change-btn:hover { 
  color: var(--orangeSelected);
}

.error_message {
  color: red;
}


.my__select { 
  font-family: 'Montserrat';
  font-weight: 750;
  font-size: 14px;
  background-color: transparent;
  border: 0;
  color: var(--orange);
}
.my__select:hover { 
  color: var(--orangeSelected);
}
.my__select__option {
  background-color: var(--themeColor1); 
  color: inherit;
}
.my__select::placeholder {
  color: var(--orange);
  opacity: 0.7;
}

.accent__orange { 
  color: var(--orange)
}