.menu { 
  position: fixed;
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  top: var(--navbar-height);
  left: 0;
  transform: translateX(-100%);
  transition: all .25s;
}
.menu.active { 
  transform: translateX(0);
}
.blur { 
  width: 100vw;
  height: 94vh;
  backdrop-filter: blur(2px);
  position: absolute;
}
.menu__content {
  width: 350px;
  height: 100%;
  background-color: rgba(35,35,35, .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.menu__tiles { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  cursor: pointer;
  transition: all .1s;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid rgb(242,114,28);
  font-size: 14px;
}
.menu__tiles:hover { 
  background-color: rgb(242,114,28);
}
.tech_btn { 
  background-color: transparent;
  border: none; 
  border-bottom: 1px solid rgb(13,246,155);

}
.tech_btn:hover { 
  background-color: rgb(5, 206, 129);
}

@media screen and (max-width:768px) {
  .menu__content {
    width:100%;
  }
  .blur { 
    backdrop-filter: none;
  }
  .menu__content {
    background-color: rgba(35,35,35, 1);
  }
}

