@import '../../MainStyle.scss';
main { 
  background-color: $dark_themeColor1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh 5vh 5vh 5vh;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  text-shadow: -1px 2px 5px $black;
  font-size: $defaultFontSize;
  color: white;
}
header { 
  display: flex;
  justify-content: space-between;
  div { 
    display: flex;
    align-items: center;
  }
}
.tool_btns_btn { 
  background-color: transparent;
  padding: 5px 10px;
  border: 0;
  color: white;
  width: 100%;
  transition: .25s;
  text-shadow: 0px 2px 5px $black;
  &:hover {background-color: $orange}
}
.main_table {
  border-collapse: collapse;
  text-align: center;
  tr td:nth-child(8) {border-right: 1px solid $pale_white}
  tbody > tr:hover {background-color: var(--gray)}
}
.main_table_cards:nth-child(odd) {background-color: rgba(255, 255, 255, 0.1)}
.main_table_cards:nth-child(even) { background-color: rgba(255, 255, 255, 0.15)}

.table__pagination { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__pagination-disabled { 
  border: 1px solid red;
  cursor: default;
  &:hover {background-color: transparent}
}

.test1 {background-color: red}
.warning-class {background-color: yellow}
.highlight__green {background-color: green}

.table__onload__message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px; 
  border: 1px solid rgba(242,114,28, 0);
  font-size: 17px;
  color: var(--orange);
  animation-name: burning;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
}

.TestSpinner { 
  width:30px;
  height: 30px;
  border: 5px solid transparent;
  border-top: 5px solid var(--orange);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes burning {
  0% {border: 1px solid rgba(242,114,28, 0)}
  33% {border: 1px solid rgba(242,114,28, 1); filter: brightness(200%);}
  66% {bborder: 1px solid rgba(242,114,28, 0)}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}