main { 
  background-color: rgb(35,35,35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh 5vh 5vh 5vh;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  text-shadow: -1px 2px 5px rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 300;
  color: white;
}
header { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header > div { 
  display: flex;
  align-items: center;
}

.tool_btns_btn { 
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid rgb(242,114,28);
  font-size: 12px;
  color: white;
  width: 100%;
  transition: .1s;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}
.tool_btns_btn:hover { 
  background-color: rgb(242,114,28);
}
.btn_change, 
.btn_delete {
  border: 0;
  border-radius: 0;
}
.main_table {
  border-collapse: collapse;
}
.main_table tr td:nth-child(4),
.main_table tr td:nth-child(10) {
  border-right: 1px solid #ccc;
}
.main_table > tbody > tr > td { 
  text-align: center;
} 
.main_table > tbody > tr:hover { 
  background-color: rgba(187, 187, 187, 0.623);
}
.main_table_cards:nth-child(odd) { 
  background-color: rgba(255, 255, 255, 0.1);
}
.main_table_cards:nth-child(even) { 
    background-color: rgba(255, 255, 255, 0.15);
}

.table__pagination { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__pagination-disabled { 
  border: 1px solid red;
  cursor: default;

}
.table__pagination-disabled:hover { 
  background-color: transparent;
}

.test1 {
  background-color: red;
}

.warning-class {
  background-color: yellow;
}

.highlight__green { 
  background-color: green;
}


@media screen and (max-width: 480px) {
  main { 
    flex-direction: column;
  }
}

.table__onload__message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px; 
  border: 1px solid rgba(242,114,28, 0);
  font-size: 17px;
  color: var(--orange);
  animation-name: burning;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
}

@keyframes burning {
  0% {border: 1px solid rgba(242,114,28, 0)}
  33% {border: 1px solid rgba(242,114,28, 1); filter: brightness(200%);}
  66% {bborder: 1px solid rgba(242,114,28, 0)}
}

.TestSpinner { 
  width:30px;
  height: 30px;
  border: 5px solid transparent;
  border-top: 5px solid var(--orange);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}