@import '../../MainStyle.scss';
.spinner { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $orange;
  .spinner_logo { 
    display: flex;
    align-items: center;
    font-weight: 750;
  }
  .app_loading_message { 
    display: flex;
    align-items: center;
  }
}
#spinner_img { 
  width: 40px;
  height: 40px;
}
#spinner_name { 
  font-size: 40px;
}
#spinner_load {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 650;
}
