.acc__settings { 
  display: flex;
  flex-direction: column;
}

.acc__settings___option { 
  border-bottom: 1px solid var(--pale_white);
}

.acc__support-section { 
  margin-top: 20px;
  text-align: center;
}